MYSQL_DATABASE=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_ROOT_PASSWORD=""
RIG_URL=""
RIG_PASSWORD=""
MIN_HASHRATE=""
WALLET_ADDRESS=""
COIN=""
FLEXPOOL_API=""
LOG_PATH=""
TELEGRAM_TOKEN=""
TELEGRAM_USERNAME=""